.productDetails .container .row > div {
  padding: 0.5rem !important;
}

@media (min-width: 768px) {
  .productDetails .container .row > div {
    flex: 0 0 auto;
    width: 50%;
  }
}

.productDetails .view {
  width: 100%;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.productDetails .view img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 16px;
}

.productDetails .content .workLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.productDetails .content .workLinks .link {
  padding: 8px 20px;
  border-radius: 100px;
  color: var(--darkColor);
  background-color: var(--lightBorderColor);
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.productDetails .content .workLinks .link:hover {
  color: var(--whiteColor);
  background-color: var(--secondColor);
}

.productDetails .content .workLinks .link::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: var(--transition);
  background-color: var(--mainColor);
  z-index: -1;
}

.productDetails .content .workLinks .link:hover::before {
  left: -70px;
  bottom: -70px;
}

.productDetails .content .workLinks .link::after {
  content: "";
  position: absolute;
  top: -100px;
  right: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: var(--transition);
  background-color: var(--mainColor);
  z-index: -1;
}

.productDetails .content .workLinks .link:hover::after {
  top: -100px;
  top: -70px;
  right: -70px;
}

.productDetails .content .workLinks .link img {
  width: 24px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  transition: var(--transition);
}

@media screen and (max-width: 768px) {
  .productDetails .productBox ul {
    padding: 0 12px;
  }
}

.productDetails .productBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.productDetails .productBox ul li {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  align-items: baseline;
  color: var(--grayColor);
}

.productDetails .productBox ul li::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: url(https://nami-tec.com/site/img/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.productDetails .productBox ul li:nth-child(2n) {
  background-color: var(--lightBorderColor);
}

.productDetails .productBox .features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.productDetails .productBox .features span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--lightBorderColor);
  padding: 8px 16px;
  border-radius: 100px;
  color: var(--darkColor);
}
  
.product .requestDemo {
  width: 100% !important;
}

.productDetails .requestDemo .btn {
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 5s linear infinite;
  width: min(100% - 40px, 300px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 100px;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 16px;
  outline: 4px solid rgba(0, 159, 111, 0.1882352941);
  box-shadow: 0 0 0 8px rgba(0, 159, 111, 0.1882352941);
}

.fade {
  transition: opacity 0.15s linear;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @media (min-width: 576px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: var(--bs-box-shadow);
    }
} */

.show {
  opacity: 1;
  display: block;
}

.fade:not(.show) {
  opacity: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 0.5rem * 2);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #212529;
  pointer-events: auto;
  background-color: var(--whiteColor);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
}

.modal .modal-content {
  background: var(--whiteColor);
  padding: 24px;
  border-radius: 16px;
  position: relative;
}

.modal .modal-content .btnClose {
  position: absolute;
  right: -12px;
  top: -12px;
  background: var(--darkColor);
  color: var(--whiteColor);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: 2px solid var(--whiteColor);
  font-family: "fontBold";
  font-size: 16px;
  z-index: 2;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.p-0 {
  padding: 0 !important;
}

.modal .modal-content .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal .modal-content .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  display: inline-block;
  text-align: start;
}

.modal .modal-content .form .form-group label {
  color: var(--grayColor);
  font-size: 13px;
  font-weight: bold;
}

.modal .modal-content .form .form-group label span {
  color: red;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--whiteColor);
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-select,
.form-control {
  min-height: 48px;
  background-color: var(--whiteColor);
  color: var(--darkColor);
  border-color: var(--lightGrayColor);
}

.modal .modal-content .form button {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  margin: 10px auto 0;
  justify-content: center;
}
