.productDetails .container .row > div {
  padding: 0.5rem !important;
}

@media (min-width: 768px) {
  .productDetails .container .row > div {
    flex: 0 0 auto;
    width: 50%;
  }
}

.productDetails .view {
  width: 100%;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.productDetails .view img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 16px;
}

.productDetails .content .workLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.productDetails .content .workLinks .link {
  padding: 8px 20px;
  border-radius: 100px;
  color: var(--darkColor);
  background-color: var(--lightBorderColor);
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.productDetails .content .workLinks .link:hover {
  color: var(--whiteColor);
  background-color: var(--secondColor);
}

.productDetails .content .workLinks .link::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: var(--transition);
  background-color: var(--mainColor);
  z-index: -1;
}

.productDetails .content .workLinks .link:hover::before {
  left: -70px;
  bottom: -70px;
}

.productDetails .content .workLinks .link::after {
  content: "";
  position: absolute;
  top: -100px;
  right: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: var(--transition);
  background-color: var(--mainColor);
  z-index: -1;
}

.productDetails .content .workLinks .link:hover::after {
  top: -100px;
  top: -70px;
  right: -70px;
}

.productDetails .content .workLinks .link img {
  width: 24px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  transition: var(--transition);
}

@media screen and (max-width: 768px) {
  .productDetails .productBox ul {
    padding: 0 12px;
  }
}

.productDetails .productBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.productDetails .productBox ul li {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  align-items: baseline;
  color: var(--grayColor);
}

.productDetails .productBox ul li::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--Filter);
  background-image: url("../../assets/star.png");
}

.productDetails .productBox ul li:nth-child(2n) {
  background-color: var(--lightBorderColor);
}

.productDetails .productBox .features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.productDetails .productBox .features span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--lightBorderColor);
  padding: 8px 16px;
  border-radius: 100px;
  color: var(--darkColor);
}

.product .requestDemo {
  width: 100% !important;
}

.productDetails .requestDemo {
  position: sticky;
  bottom: 40px;
  right: 0%;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.productDetails .requestDemo .btn {
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 5s linear infinite;
  width: min(100% - 40px, 300px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 100px;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 16px;
  outline: 4px solid rgba(233, 32, 42, 0.1882352941);
  box-shadow: 0 0 0 8px rgba(233, 32, 42, 0.1882352941);
}
