.our_portfolio {
  z-index: 2;
  position: relative;
  padding-bottom: 24px;
}

.our_portfolio .container {
  min-height: calc(100dvh - 660px);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.filter-sidebar {
  flex: 1 0 300px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  background-color: var(--whiteColor);
  box-shadow: var(--BigShadow);
  padding: 24px 12px;
  border-radius: 16px;
  height: fit-content;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;

  position: relative;
  max-width: 100%;
  height: 48px;
}

.search-box input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
}

.search-btn {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-end: 1px;
  background-color: var(--mainColor);
  height: 46px;
  width: 46px;
  border-radius: 50%;
}

.search-btn img {
  filter: brightness(0) invert(1);
}

.section {
  border-top: 1px solid #eee;
  padding: 10px 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: #2b2b2b;
  padding: 15px;
}

.section-header:hover {
  color: var(--mainColor);
}

.section-header span {
  font-size: 1.18rem;
  font-weight: 700;
}

.section-content {
  margin-top: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section-content .formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.section-content label {
  font-size: 1.03rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--grayColor);
}

.section-content input {
  width: 20px;
  height: 20px;
  accent-color: var(--secondColor);
}

.apply-btn {
  width: 100%;
  background: var(--linearGradient);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.reset-btn {
  display: block;
  margin: 10px auto 0;
  background: none;
  border: none;
  color: var(--secondColor);
  cursor: pointer;
  font-weight: 600;
}

.o_portfolio .portfolioItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  min-height: auto;
}

.o_portfolio .portfolioItem {
  height: auto;
}

.layOutProtfolio {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: min(100% - 24px, 1320px);
  margin: 0 auto;
  height: 100%;
  padding: 32px 0;
  display: grid;
  grid-template-columns: 300px 1fr;
}

@media (max-width: 767px) {
  .layOutProtfolio {
    grid-template-columns: 1fr;
  }
}

.layOutProtfolio .portfolioItem .content {
  min-height: auto;
}

.noResults {
  color: var(--mainColor);
}
