.download .downloadProfile {
  display: inline-flex;
  padding: 12px;
  padding-left: 52px;
  padding-right: 24px;
  height: 48px;
  border-radius: 100px;
  transition: var(--transition);
  -webkit-clip-path: none;
  clip-path: none;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: var(--transition);
}

.downloadProfile:hover {
  padding-right: 52px;
  padding-left: 24px;
  transition: var(--transition);
}

.downloadProfile .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px;
  background-color: var(--mainColor);
  transition: var(--transition);
  position: absolute;
  left: 4px;
  z-index: 4;
}

.downloadProfile:hover .icon {
  transform: translateX(209px);
}

.downloadProfile .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  filter: brightness(0) invert(1);
}

.downloadProfile .text {
  color: var(--darkColor);
  text-transform: capitalize;
}

.download .downloadProfile::after {
  border-radius: 100px;
  -webkit-clip-path: none;
  clip-path: none;
}

.product .downloadProfile:hover .icon {
  transform: translateX(195px);
}