.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  background-color: var(--whiteColor);
  border-radius: 16px;
  height: 100%;
  transition: var(--transition);
}

.productCard:hover {
  transform: translateY(-8px);
  box-shadow: var(--BigShadow);
}

.productCard .view {
  width: 100%;
  display: block;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.productCard .view::after {
  position: absolute;
  top: 0;
  right: -80%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  z-index: 1;
}

.productCard:hover .view::after {
  animation: shine 1s;
}

.productCard .view img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 16px;
}

.productCard .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding: 20px;
}

.productCard .content .title {
  font-family: "fontBold";
  text-transform: capitalize;
  color: var(--darkColor);
  font-size: 20px;
}

.productCard .content .des {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* For add (...) after 2 lines if the text is long */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  color: var(--grayColor);
}

.productCard .content .workLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.productCard .content .workLinks .link {
  padding: 4px 16px;
  border-radius: 100px;
  color: var(--darkColor);
  background-color: var(--lightBorderColor);
  font-size: 12px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.productCard .content .workLinks .link:hover {
  color: var(--whiteColor);
  background-color: var(--secondColor);
}

.productCard .content .workLinks .link::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: var(--transition);
  background-color: var(--mainColor);
  z-index: -1;
}

.productCard .content .workLinks .link:hover::before {
  bottom: -70px;
  left: -70px;
}

.productCard .content .workLinks .link img {
  width: 16px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  transition: var(--transition);
}

.productCard .content .workLinks .link:hover img {
  filter: brightness(0) invert(1);
}

.productCard .content .workLinks .link::after {
  content: "";
  position: absolute;
  top: -100px;
  right: -100px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: var(--transition);
  background-color: var(--mainColor);
  z-index: -1;
}

.productCard .content .workLinks .link:hover::after {
  top: -70px;
  right: -70px;
}

@keyframes shine {
  100% {
    right: 125%;
  }
}