.portfolioItem {
  display: none;
  flex: 1 30%;
  background-color: var(--whiteColor);
  padding: 24px;
  border-radius: 24px;
  min-width: 300px;
  max-width: 40%;
  transition: var(--transition);
  opacity: 0;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .portfolioItem {
    max-width: unset;
    flex: 1 40%;
  }
}

.portfolioItem.show {
  display: flex;
  animation: fadeUp 0.5s ease-in-out forwards;
}

.portfolio .portfolioItem {
  display: flex;
  animation: fadeUp 0.5s ease-in-out forwards;
  max-width: unset !important;
  height: 100% !important;
  border: 1px solid var(--lightBorderColor);
}

.portfolioItem.show:nth-child(1) {
  animation-delay: 0.1s;
}

.portfolioItem .content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--darkColor);
}

.portfolioItem .content .top {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
}

.portfolioItem .content .top .title {
  flex: 1;
  transition: var(--transition);
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.portfolioItem:hover .content .top .title {
  color: var(--mainColor);
}

.portfolioItem .content .top span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 8s linear infinite;
  transition: var(--transition);
}

.portfolioItem .content .top span img {
  width: 16px;
  height: 16px;
  transition: var(--transition);
  -o-object-fit: contain;
  object-fit: contain;
  filter: brightness(0) invert(1);
  transform: rotate(225deg);
}

.portfolioItem:hover .content .top span img {
  transform: rotate(260deg);
}

.portfolioItem .content .des {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grayColor);
  text-align: start;
}

.portfolioItem .image {
  width: 100%;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.portfolioItem .image::after {
  position: absolute;
  top: 0;
  right: -80%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  z-index: 1;
}

.portfolioItem:hover .image::after {
  animation: shine 1s;
}

.portfolioItem .image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 16px;
}

@keyframes shine {
  100% {
    right: 125%;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}