.vision .container .values .group .value {
  padding: 12px;
  flex: 1;
  border: 1px dashed var(--mainColor20);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  position: relative;
  isolation: isolate;
  min-width: 150px;
  color: var(--darkColor);
  overflow: hidden;
}

.values .group .value::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 5s linear infinite;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  transform: translateX(100%);
  border-radius: 12px;
}

.values .group .value:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.vision .container .values .value img {
  min-width: 80px;
  height: 80px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  -o-object-fit: contain;
  object-fit: contain;
  transition: var(--transition);
  padding: 20px;
  margin-bottom: auto;
  mix-blend-mode: unset;
  filter: var(--Filter)
}

.vision .container .values .value h6 {
    transition: var(--transition);
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 100;
}

.values .group .value:hover img, .values .group .value:hover h6 {
  filter: brightness(0) invert(1);
}
