content {
  min-height: calc(100dvh - 660px);
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  z-index: 4;
  margin-top: 100px;
  background: var(--linearGradient);
  padding: 40px;
  border-radius: 20px;
  animation: animateBg 5s linear infinite;
  background-size: 400%;
  overflow: hidden;
  /* width: 80%; */
  width: min(100% - 4px, 1320px);
  margin: 150px auto 50px;
  /* margin: 100px; */
}

.hero .shapes {
  top: 0;
  left: unset;
  right: 0;
  transform: translate(50%, -50%);
}

.hero .text {
  padding: 24px;
  width: min(100% - 32px, 800px);
  display: flex;
  gap: 24px;
  flex-direction: column;
  text-align: center;
  margin: auto;
  color: var(--whiteColor);
}

.hero .text .title {
  font-weight: bold;
  /* font-family: "fontBold", sans-serif; */
  font-size: 40px;
  /* text-wrap: balance; */
  line-height: 1.2;
  text-transform: uppercase;
}

.hero .text .des {
  text-wrap: balance;
  font-size: 15px;
  font-weight: normal;
}

.marketing {
  padding: 60px 0;
  position: relative;
  z-index: 2;
}

.container {
  width: min(100% - 4px, 1320px);
  max-width: unset;
  margin: auto;
}

.marketing .container .hint {
  color: var(--mainColor);
  text-align: left;
  font-size: 18px;
}

.marketing .container .title {
  text-align: left;
  font-size: 30px;
}

.marketing .ourMarketers {
  margin-top: 24px;
}

.marketing .marketer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--whiteColor);
  border-radius: 24px;
  padding: 24px;
  box-shadow: var(--BigShadow);
  margin: 0.5rem !important;
}

@media (min-width: 576px) {
  .marketing .marketer {
    flex: 0 0 auto;
    width: 47%;
  }
}

@media (min-width: 992px) {
  .marketing .marketer {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.marketing .marketer .content {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  min-height: auto;
}

.marketing .marketer .content img {
  aspect-ratio: 3 / 2;
  -o-object-fit: cover;
  object-fit: cover;
  height: 32px;
  border-radius: 4px;
}

.marketing .marketer .locaton {
  color: var(--mainColor);
  font-weight: bold;
}

.marketing .marketer .name {
  color: var(--darkColor);
  font-weight: bolder;
  font-size: 26px;
  text-align: left;
}

.marketing .marketer .contactMarketer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px;
}

.marketing .marketer .contactMarketer a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px 8px;
  border-radius: 100px;
  margin-top: 8px;
  border: 1px solid var(--mainColor20);
  transition: var(--transition);
}

.marketing .marketer .contactMarketer .whatsApp:hover {
  background-color: #25d366;
}

.marketing .marketer .contactMarketer .email:hover {
  background-color: #ff4343;
}

.marketing .marketer .contactMarketer .call:hover {
  background-color: #3e86e4;
}

.marketing .marketer .contactMarketer a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: var(--transition);
}

.marketing .marketer .contactMarketer a:hover img {
  filter: brightness(0) invert(1);
}

.howToBeMarketer {
  padding: 60px 0;
  position: relative;
  background-color: var(--mainColor05);
  z-index: 2;
}

.mbFooter {
  margin-bottom: -40px;
}

.howToBeMarketer .hint {
  color: var(--mainColor);
  text-align: left;
}

.howToBeMarketer .title {
  text-align: left;
  font-size: 30px;
}

.howToBeMarketer .timeLine {
  padding: 60px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.howToBeMarketer .timeLine::after {
  content: "";
  width: 2px;
  height: calc(100% - 100px);
  position: absolute;
  background-color: var(--mainColor20);
  right: 50%;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}

@media screen and (max-width: 768px) {
  .howToBeMarketer .timeLine::after {
    content: "";
    right: unset;
    left: 0%;
    transform: translateY(-50%);
  }
}

.howToBeMarketer .timeLine .timeLineItem {
  text-align: left;
  background-color: var(--whiteColor);
  border-radius: 10px;
  box-shadow: var(--BigShadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(50% - 15px);
  position: relative;
}

@media screen and (max-width: 768px) {
  .howToBeMarketer .timeLine .timeLineItem {
    width: calc(100% - 16px);
    margin-left: auto;
  }
}

.howToBeMarketer .timeLine .timeLineItem::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--mainColor20);
  position: absolute;
  right: -8px;
  left: unset;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}

@media screen and (max-width: 768px) {
  .howToBeMarketer .timeLine .timeLineItem::before {
    left: -24px !important;
    right: unset !important;
  }
}

.howToBeMarketer .timeLine .timeLineItem:nth-child(even) {
  align-self: flex-end;
}

.howToBeMarketer .timeLine .timeLineItem:nth-child(even)::before {
  right: unset;
  left: -24px;
}

.howToBeMarketer .timeLine .timeLineItem .favimg {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  filter: grayscale(1) opacity(0.2);
}

.howToBeMarketer .timeLine .timeLineItem h5 {
  font-weight: bold;
  color: var(--mainColor);
  font-size: 22px;
}

.howToBeMarketer .timeLine .timeLineItem p {
  color: var(--darkColor);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
}
