.careers {
  padding: 60px 24px;
  position: relative;
  z-index: 2;
  isolation: isolate;
}

.careers::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.06;
}

.careers .container .row {
  width: 100% !important;
}

.careers .container .row > div {
  padding: 0.5rem !important;
}

@media (min-width: 992px) {
  .careers .container .row > div:nth-child(1) {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

.careers .top {
  text-align: start;
  width: min(100% - 40px, 800px);
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: center;
}

.careers .top .secSubTitle {
  font-style: italic;
  color: var(--grayColor);
}

.careers .top .secTitle {
  color: var(--mainColor);
  text-transform: uppercase;
  font-size: 40px;
}

.careers .top .hint {
  color: var(--darkColor);
}

@media (min-width: 992px) {
  .careers .container .row > div:nth-child(2) {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.careers form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--whiteColor);
  padding: 24px;
  border-radius: 16px;
  box-shadow: var(--BigShadow);
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family:  inherit;
  font-size: inherit;
  line-height: inherit;
}

.careers form .hint {
  color: var(--grayColor);
  font-style: italic;
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-select,
.form-control {
  min-height: 48px;
  background-color: var(--whiteColor);
  color: var(--darkColor);
  border: 1px solid var(--lightGrayColor);
}

.careers form .form-select,
.careers form .form-control {
  min-height: 48px;
  border-radius: 8px;
}

[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: ltr;
}

select {
  word-wrap: normal;
}

button,
select {
  text-transform: none;
}


.from-group {
  text-align: left;
}

textarea {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}

#captcha-error {
  color: red;
  display: none;
}

.careers form .outlineGradient {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  -webkit-clip-path: polygon(
    10% 0%,
    90% 0%,
    102% 50%,
    90% 100%,
    10% 100%,
    -2% 50%
  );
  clip-path: polygon(10% 0%, 90% 0%, 102% 50%, 90% 100%, 10% 100%, -2% 50%);
}

.careers form .outlineGradient::after {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}