footer {
  padding: 40px 0 40px;
  position: relative;
  background-color: var(--whiteColor);
  z-index: 2;
  overflow-x: hidden;
}

footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 0%;
  left: 0%;
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 8s linear infinite;
  border-radius: 12px;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col {
  flex: 1 0 0%;
}

@media (min-width: 992px) {
  footer .container .row > div {
    flex: 0 0 auto;
    width: 25%;
  }
}

footer .container .row > div {
  padding: 1rem !important;
  text-align: left;
}

footer .logo {
  height: 60px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left;
  object-position: left;
  margin-bottom: 16px;
}

footer .info {
  color: var(--darkColor);
}

footer .group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .group .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--darkColor);
}

h5 {
  font-size: 1.25rem;
}

footer .group .title::after {
  content: "";
  height: 3px;
  width: 32px;
  border-radius: 4px;
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 8s linear infinite;
}

footer .group ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 8px;
}

footer .group ul li {
  display: flex;
  align-items: baseline;
  gap: 8px;
  position: relative;
  min-width: 150px;
}

footer .group ul li::before {
  content: "";
  height: 2px;
  width: 4px;
  transition: var(--transition);
  border-radius: 4px;
  background: var(--mainColor);
}

footer .group ul li:hover::before {
  width: 16px;
}

footer .group ul li a {
  color: var(--darkColor);
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .group ul li:hover a {
  color: var(--mainColor);
}

footer .group ul li img {
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  transition: var(--transition);
  filter: var(--Filter)
}

footer .copywriting {
  display: flex;
  padding: 16px 24px;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  background-color: var(--mainColor05);
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
  footer .copywriting {
    justify-content: space-around;
  }
}

footer .copywriting .hint {
  color: var(--darkColor);
}

footer .copywriting .social {
  display: flex;
  align-items: center;
  gap: 8px;
}