.home {
  padding: 200px 0 100px;
  position: relative;
  z-index: 2;
  min-height: 60dvh;    
}

@media screen and (max-width: 768px) {
  .home {
    padding: 150px 0 50px;
  }
}
:target {
  scroll-margin-top: 50px;
}

.home::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0%;
  box-shadow: 0px 0px 25vw 25vw rgba(233, 32, 42, 0.3019607843);
  z-index: -2;
  opacity: 0.6;
}

.home::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  right: 0%;
  box-shadow: 0px 0px 25vw 25vw rgba(233, 32, 42, 0.3019607843);

  z-index: -2;
  opacity: 0.6;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
  z-index: -2;
}

.home .lines span {
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--mainColor20) 0%,
    transparent 100%
  );
  position: relative;
}

.home span:nth-child(1)::before {
  animation-duration: 2s;
  animation-delay: 0.3s;
}
.home .lines span:nth-child(2)::before {
  animation-duration: 2.3s;
  animation-delay: 0.6s;
}

.home .lines span:nth-child(3)::before {
  animation-duration: 2.6s;
  animation-delay: 0.9s;
}

.home .lines span:nth-child(4)::before {
  animation-duration: 2.9s;
  animation-delay: 1.2s;
}

.home .lines span:nth-child(5)::before {
  animation-duration: 3.2s;
  animation-delay: 1.5s;
}

.home .lines span:nth-child(6)::before {
  animation-duration: 3.5s;
  animation-delay: 1.8s;
}

.home .lines span:nth-child(7)::before {
  animation-duration: 3.8s;
  animation-delay: 2.1s;
}

.home span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--mainColor20);
  border-radius: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moveDown 3s linear infinite;
}

.home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: min(100% - 24px, 800px);
  margin: 0 auto;
  gap: 16px;
}

.home .content .title {
  font-family: var(--fontFamilyTwo);
  font-size: 60px;
  color: var(--darkColor);
  background: var(--linearGradient);
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .home .content .title {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
}

.home .content .title span {
  display: inline-flex;
  font-size: 60px;
  background: var(--linearGradient);
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .home .content .title span {
    font-size: 45px;
  }
}

.home .content .des {
  text-wrap: balance;
  color: var(--grayColor);
  font-size: 20px;
  font-weight: normal;
  background: var(--linearGradient);
  background-clip: text;
  color: transparent;
  font-family: var(--fontFamilyTwo);
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: 16px;
  }
}

.home .content .social {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 100%;
  justify-content: center;
}

.home .content .btns {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home .content .btns .customBtn {
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  font-weight: bold;
  background-color: var(--mainColor05);
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: var(--transition);
}

.home .content .btns .customBtn:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

@media screen and (max-width: 500px) {
  .home .content .btns .customBtn {
    order: 2;
  }
}

.home .content .btns .customBtn img {
  width: 20px;
  aspect-ratio: 1;
  transition: var(--transition);
  filter: var(--Filter);
}

.home .content .btns .customBtn:hover img {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 600px) {
  .home .content .btns .requestDemoBtn {
    display: flex;
    justify-content: center;
    order: 1;
    width: 100%;
  }
}

.home .content .requestDemo {
  background: var(--linearGradient);
  background-size: 400%;
  animation: animateBg 5s linear infinite;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 48px;
  border-radius: 100px;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 16px;
  outline: 4px solid rgba(233, 32, 42, 0.1882352941);
  box-shadow: 0 0 0 8px rgba(233, 32, 42, 0.1882352941);
  margin: 8px 0;
}

/* Animation keyframes */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveDown {
  0% {
    top: 0;
    opacity: 0;
  }

  50% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
