.content {
  min-height: calc(100dvh - 660px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body-overlay {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  top: 0;
  opacity: 1;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-position: top right;
}