.ourProducts {
  padding: 60px 12px 40px 12px;
  padding-bottom: 120px;
  background-color: var(--mainColor20);
  z-index: 1;
}

/* .ourProducts in the first */
.container .sectionTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  text-align: center !important;
}

@media (max-width: 768px) {
  /* .ourProducts in the first */
  .container .sectionTop {
    flex-direction: column;
    align-items: center;
  }
}

/* .ourProducts in the first */
.container .sectionTop .top {
  text-align: center;
  width: min(100% - 40px, 800px);
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
}

@media (max-width: 768px) {
  /* .ourProducts in the first */
  .container .sectionTop .top {
    align-items: center;
    margin: auto;
  }
}

/* .ourProducts in the first */
.container .sectionTop .top .secSubTitle {
  font-style: italic;
  font-weight: bold;
  color: var(--grayColor);
}

/* .ourProducts in the first */
.container .sectionTop .top .secTitle {
  font-weight: bold;
  color: var(--darkColor);
  text-transform: uppercase;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  /* .ourProducts in the first */
  .container .sectionTop .top .secTitle {
    font-size: 24px;
    text-align: center;
  }
}

/* .ourProducts in the first */
.container .sectionTop .outlineGradient {
  white-space: nowrap;
}
/* .ourProducts in the first */
.container .sectionTop .outlineGradient::after {
  background: transparent;
}
/* .ourProducts in the first */
.container .sectionTop .outlineGradient span {
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  font-size: 14px;
  color: var(--whiteColor);
  transition: var(--transition);
}
/* .ourProducts in the first */
.container .sectionTop .outlineGradient img {
  filter: brightness(0) invert(1);
  width: 0;
  height: 16px;
  transition: var(--transition);
}
/* .ourProducts in the first */
.container .sectionTop .outlineGradient:hover img {
  margin-left: 8px;
  width: 16px;
}

.ourProducts .swiper-wrapper {
  padding: 40px 0;
}
