.serviceArea {
  background:
    linear-gradient(rgba(182, 20, 28, 0.8), rgba(182, 20, 28, 0.8)),
    url("../../assets/services_icons/back_services.jpg");
  background-size: 300%;
  animation: animateBg 80s linear infinite;
  padding: 80px 8px;
}

.serviceArea .container {
  width: min(100% - 4px, 1320px);
  max-width: unset;
  margin: auto;
}

.serviceArea .serviceTop {
  text-align: center;
  padding-bottom: 55px;
  width: min(100% - 40px, 800px);
  text-wrap: balance;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 767px) {
  .serviceArea .serviceTop {
    padding-bottom: 40px;
  }
}

.serviceArea .serviceTop .secSubTitle {
  font-style: italic;
  font-weight: bold;
  color: #eee;
  text-align: center;
  position: relative;
}

.serviceArea .serviceTop .secTitle {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}

.serviceArea .serviceTop .hint {
  color: #eee;
}

.serviceArea .allServices {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}