.vision {
  position: relative;
  padding: 40px 0;
  background-color: var(--whiteColor);
}

@media screen and (max-width: 768px) {
  .vision {
    padding: 40px 0;
  }
}

.vision .container {
  position: relative;
  z-index: 2;
}

.vision .container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
}

.vision .container .row > div {
  flex: 1 1 48%;
  background: white;
  padding: 0.5rem;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 0px 30px #ddd;
  text-align: left;
}

.vision .container .row .vision .group,
.vision .container .row .message .group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.vision .container .group .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 200px;
  flex: 1;
}

.vision .group video {
  width: 100px;
  max-width: 120px;
  aspect-ratio: 1;
  mix-blend-mode: multiply;
  filter: hue-rotate(120deg);
}

.vision .container .group .text .title {
  font-weight: bold;
  font-family: var(--fontFamilyTwo);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--darkColor);
}

.vision .container .group .text .des {
  color: var(--grayColor);
}

.vision .container .row .values {
  flex: 1 1 100%;
  background: white;
  padding: 20px;
}

.values .group .values {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}