.whatsAppCall {
  position: fixed;
  bottom: 24px;
  inset-inline-end: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 99;
  backdrop-filter: blur(40px);
  background-color: #ffffff5d;
  border: 1px solid #e7e7e75d;
  border-radius: 100px;
  padding: 4px;
}

.whatsAppCall {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.whatsAppCall {
  & a {
    svg {
      width: 48px;
      height: 48px;
    }
  }
}