content {
  min-height: calc(100dvh - 660px);
  display: flex;
  flex-direction: column;
}

.banner {
  padding: 130px 0 20px;
  position: relative;
  display: flex;
  isolation: isolate;
  text-align: start;
}

.banner .links {
  margin-bottom: 4px;
}

.banner .links a {
  padding: 4px;
  position: relative;
  color: var(--mainColor);
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-transform: capitalize;
}

.banner .links a::after {
  content: " ↣ ";
}

.banner .links a.active {
  cursor: default;
  color: #777;
}

.productDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  height: 100%;
  transition: var(--transition);
  z-index: 2 !important;
  position: relative !important;
}

.service .productDetails .container .row > div {
  padding: 0.5rem !important;
}

@media (min-width: 768px) {
  .service .productDetails .container .row > div:nth-child(1) {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

.productDetails .details {
  background-color: var(--whiteColor);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.productDetails .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
  padding: 1rem !important;
}

.productDetails .content .icon {
  width: 40px;
  height: 40px;
}

.productDetails .content .icon.serviceIcon {
  filter: brightness(0);
}

.productDetails .content .title {
  text-transform: capitalize;
  color: var(--darkColor);
  font-size: 30px;
}

.productDetails .content .title:hover {
  color: var(--mainColor);
}

.productDetails .content .des {
  color: var(--grayColor);
}

@media (min-width: 768px) {
  .service .productDetails .container .row > div:nth-child(2) {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.productDetails .productBox {
  padding: 24px;
  margin-bottom: 16px;
  border: 1px solid var(--lightBorderColor);
  border-radius: 16px;
  background-color: var(--whiteColor);
}

@media screen and (max-width: 768px) {
  .productDetails .productBox {
    padding: 16px;
  }
}

.productDetails .productBox .title {
  text-align: start;
  font-size: 18px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--lightBorderColor);
  color: var(--darkColor);
}

@media screen and (max-width: 768px) {
  .productDetails .productBox .title {
    padding: 8px;
  }
}

.productDetails .productBox .serviceList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

.productDetails .productBox .serviceList span {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--darkColor);
  text-align: start;
}

.productDetails .productBox .serviceList span img {
  width: 16px;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  filter: var(--Filter)
}